<ng-template #addRequirement let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-12">
            <nb-card status="success" [nbSpinner]="editSpinner">
                <nb-card-header>
                    Add new requirement: {{ data.newreq }}
                </nb-card-header>
                <nb-card-body>
                    <form #adRequerimentFromProduct="ngForm" name="adRequerimentFromProduct"
                        id="adRequirementFromProduct">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="label" for="title">Description:</label>
                                <input #description="ngModel" [(ngModel)]="data.newreq" minlength="4" nbInput
                                    name="Description" type="text" status="success">
                                <div *ngIf="description.invalid && (description.dirty || description.touched)">
                                    <nb-alert *ngIf="description.errors.required" status="warning">Title is required
                                    </nb-alert>
                                    <nb-alert *ngIf="description.errors.minlength" status="warning">Title must be at
                                        least 4
                                        characters long.</nb-alert>
                                </div>

                            </div>
                        </div>
                    </form>
                </nb-card-body>
                <nb-card-footer>
                    <button [disabled]="!adRequerimentFromProduct.dirty || !adRequerimentFromProduct.valid"
                        type="button" (click)="ref.close(data.newreq)" nbButton status="success">Add</button>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</ng-template>

<nb-card status="success" [nbSpinner]="editSpinner">
    <nb-card-header>Edit product: {{ product?.name }}</nb-card-header>
    <nb-card-body>
        <form #editProduct="ngForm" name="editProduct">
            <div class="row">
                <div class="col-md-6">
                    <label for="productname" class="label">Product Name:</label>
                    <br>
                    <input #prodName="ngModel" required minlength="4" [(ngModel)]="product.name" nbInput
                        name="productname" type="text" placeholder="Product Name">

                    <div *ngIf="prodName.invalid && (prodName.dirty || prodName.touched)">
                        <nb-alert *ngIf="prodName.errors.required" status="warning">Name is required.
                        </nb-alert>
                        <nb-alert *ngIf="prodName.errors.minlength" status="warning">Name must be at
                            least 4
                            characters long.</nb-alert>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="product" class="label">Product Descrption:</label>
                    <input #prodD="ngModel" required minlength="4" [(ngModel)]="product.description" nbInput
                        name="productdescription" type="text" placeholder="Product Descrption">

                    <div *ngIf="prodD.invalid && (prodD.dirty || prodD.touched)">
                        <nb-alert *ngIf="prodD.errors.required" status="warning">Description is required.
                        </nb-alert>
                        <nb-alert *ngIf="prodD.errors.minlength" status="warning">Description must be at
                            least 4
                            characters long.</nb-alert>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="type" class="label">Type:</label>
                    <div class="form-group">
                        <nb-select required name="type" [(ngModel)]="product.type" placeholder="Select Product Type">
                            <nb-option value="desktop">Desktop</nb-option>
                            <nb-option value="mobile">Mobile</nb-option>
                            <nb-option value="backend">Backend</nb-option>
                            <nb-option value="frontend">Frontend</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="url" class="label">Product Url:</label> <br>
                        <input required [(ngModel)]="product.url" nbInput name="producturl" type="text"
                            placeholder="Product Url">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="industry" class="label">Client Name:</label>
                    <input required [(ngModel)]="product.clientName" name="client" type="text" nbInput fullWidth
                        id="client" placeholder="Client Name">
                </div>
                <div class="col-md-6">
                    <label for="industry" class="label">Size:</label>
                    <input required [(ngModel)]="product.size" name="size" type="number" nbInput fullWidth id="size"
                        placeholder="Size in numbers">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="industry" class="label">Project Intro:</label>
                    <ckeditor [editor]="Editor" #projectIntro name="projectIntro" [(ngModel)]="product.projectIntro">
                    </ckeditor>
                </div>
                <div class="col-md-6">
                    <label for="industry" class="label">Short Resume:</label>
                    <ckeditor [editor]="Editor" #shortResume name="shortResume" [(ngModel)]="product.shortResume">
                    </ckeditor>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="text" class="label">Product Text Body:</label>
                    <ckeditor [editor]="Editor" #textBody name="bodyText" [(ngModel)]="product.bodyText">
                    </ckeditor>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Requirements
                    <button (click)="openAddRequirementDialog()" nbButton type="button" size="tiny" status="success">
                        <nb-icon icon="plus"></nb-icon>
                    </button>
                </div>
                <div class="col-md-6">
                    <div *ngFor="let req of product.requirements">
                        {{ req.description}}
                        <button nbButton size="tiny" status="danger" (click)="removeRequirement(req.id)">-</button>
                    </div>
                </div>
                <!--   <nb-select #prodReq="ngModel" multiple name="requirement" [(ngModel)]="product.requirements"
                    placeholder="Select Requirements">
                    <nb-option *ngFor="let req of product.requirements" value="{{ req.id }}">
                        {{ req.description }}
                    </nb-option>
                </nb-select>
                <button (click)="openAddRequirementDialog()" nbButton type="button" size="tiny" status="success">
                    <nb-icon icon="plus"></nb-icon>
                </button> -->

            </div>


        </form>
    </nb-card-body>
    <nb-card-footer>
        <button [nbSpinner]="editSpinner" (click)="editItem(product.id, product)" nbSpinnerStatus="success"
            nbSpinnerSize="small" nbButton status="success">
            <nb-icon icon="edit"></nb-icon>Edit!
        </button>
        <!-- <button [attr.disabled]="elementAdded" [nbSpinner]="editSpinner" nbSpinnerStatus="success" nbSpinnerSize="small"
            nbButton status="success" (click)="editItem(product.id, product)">

            <nb-icon icon="edit"></nb-icon>Edit!
        </button> -->

    </nb-card-footer>
</nb-card>