<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5" data-pg-id="495">
        <div class="container text-center single-col-max-width" data-pg-id="496">
            <h2 class="heading" data-pg-id="497">Admin Control Center</h2>
            <!--//container-->
        </div>
    </section>
    <section *ngIf="isAuthenticated" class="cta-section theme-bg-light py-5">
        <div class="w-20 p-3 container text-center single-col-max-width">
            <form #loginForm="ngForm">

                <label for="name">Username</label>
                <input name="username" type="text" class="form-control" id="username" required
                    [(ngModel)]="model.username">

                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" required
                    [(ngModel)]="model.password">
                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success">Submit</button>

            </form>
        </div>
    </section>

</div>