<div class="row">
    <div class="col-md-12">
        <nb-card status="success">
            <nb-card-header>
                Add new profile pic:
            </nb-card-header>
            <nb-card-body>
                <form #addImageForm="ngForm" name="addImageForm">
                    <div class="row">
                        <div class="col-md-6">
                            Current photo:
                            <div class="col-md-6" *ngFor="let photo of photos">
                                <nb-user size="large" name="Jonh Doe" title="Engineer" onlyPicture
                                    [picture]="photo.url">
                                </nb-user>
                            </div>

                        </div>

                    </div>
                </form>
            </nb-card-body>
            <nb-card-footer>
                <button [disabled]="!addImageForm.dirty || !addImageForm.valid" type="button" (click)="addNewTag()"
                    nbButton status="success">Add</button>
            </nb-card-footer>
        </nb-card>
    </div>
</div>