<div class="main-wrapper">
    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container single-col-max-width">
            <header class="blog-post-header">
                <h2 class="title mb-2">Why Every Developer Should Have A Blog</h2>
                <div class="meta mb-3">
                    <span class="date">Published 2 days ago</span>
                    <span class="time">5 min read</span>
                    <span class="comment"><a href="#">4 comments</a></span>
                </div>
            </header>
            <div class="blog-post-body">
                <figure class="blog-banner">
                    <a href="https://made4dev.com"><img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg"
                            alt="image"></a>
                    <figcaption class="mt-2 text-center image-caption">Image Credit:
                        <a href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium Programming
                            T-shirts)</a>
                    </figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoqgggggggue penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                    enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                    porttitor eu, consequat vitae, eleifend ac, enim.</p>
                <code language="javascript">&lt;section&gt;</code>
                <p>You can get more info at <a href="https://highlightjs.org/"
                        target="_blank">https://highlightjs.org/</a>. Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                    nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                    dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                    enim. </p>
                <!--                 <pre><code class="cpp hljs">function $initHighlight(block, cls) &#123
<span class="hljs-keyword">try</span> &#123
<span class="hljs-keyword">if</span> (cls.search(/\bno\-highlight\b/) != <span class="hljs-number">-1</span>)
<span class="hljs-keyword">return</span> process(block, <span class="hljs-literal">true</span>, <span class="hljs-number">0x0F</span>) +
     ` class=<span class="hljs-string">"$&#123cls}"</span>`;
} <span class="hljs-keyword">catch</span> (e) &#123
<span class="hljs-comment">/* handle exception */</span>
}
<span class="hljs-keyword">for</span> (var i = <span class="hljs-number">0</span>; i &lt; classes.length; i++)
&#123
<span class="hljs-keyword">if</span> (checkcondition(classes[i])=<span class="hljs-string">"undefined)
&#123
console.log('undefined');
&#125
&#125
export $inithighlight;</span></code></pre> -->
                <h3 class="mt-5 mb-3">Typography</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <h5 class="my-3">Bullet Points:</h5>
                <ul class="mb-5">
                    <li class="mb-2">Lorem ipsum dolor sit amet consectetuer.</li>
                    <li class="mb-2">Aenean commodo ligula eget dolor.</li>
                    <li class="mb-2">Aenean massa cum sociis natoque penatibus.</li>
                </ul>
                <ol class="mb-5">
                    <li class="mb-2">Lorem ipsum dolor sit amet consectetuer.</li>
                    <li class="mb-2">Aenean commodo ligula eget dolor.</li>
                    <li class="mb-2">Aenean massa cum sociis natoque penatibus.</li>
                </ol>
                <h5 class="my-3">Quote Example:</h5>
                <blockquote class="blockquote m-lg-5 py-3 pl-4 px-lg-5">
                    <p class="mb-2">You might not think that programmers are artists, but programming is an extremely
                        creative profession. It's logic-based creativity.</p>
                    <footer class="blockquote-footer">John Romero</footer>
                </blockquote>
                <h5 class="my-3">Table Example:</h5>
                <table class="table table-striped my-5">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="mt-5 mb-3">Video Example</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hnCmSXCZEpU" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""></iframe>
                </div>
            </div>
            <nav class="blog-nav nav nav-justified my-5">
                <a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Previous<svg
                        class="svg-inline--fa fa-long-arrow-alt-left fa-w-14 arrow-prev" aria-hidden="true"
                        focusable="false" data-prefix="fas" data-icon="long-arrow-alt-left" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z">
                        </path>
                    </svg><!-- <i class="arrow-prev fas fa-long-arrow-alt-left"></i> --></a>
                <a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html">Next<svg
                        class="svg-inline--fa fa-long-arrow-alt-right fa-w-14 arrow-next" aria-hidden="true"
                        focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z">
                        </path>
                    </svg><!-- <i class="arrow-next fas fa-long-arrow-alt-right"></i> --></a>
            </nav>
            <div class="blog-comments-section">
                <div id="disqus_thread"><iframe id="dsq-app7490" name="dsq-app7490" allowtransparency="true"
                        frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="100%"
                        src="https://disqus.com/embed/comments/?base=default&amp;f=3wmthemes&amp;t_u=http%3A%2F%2Flocalhost%3A40000%2Ffile%3A%2F%2F%2FC%3A%2FUsers%2Feduardo%2FDownloads%2Fdevcard-v2.1%2Fdevcard-bs4%2Fblog-post.html&amp;t_d=DevCard%20-%20Bootstrap%204%20vCard%20%26%20Portfolio%20Template%20For%20Developers&amp;t_t=DevCard%20-%20Bootstrap%204%20vCard%20%26%20Portfolio%20Template%20For%20Developers&amp;s_o=default#version=049b9d4c8356e0d7fe6487ff57f30ea3"
                        style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 312px !important;"
                        horizontalscrolling="no" verticalscrolling="no"></iframe></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT
                     *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR
                     *  PLATFORM OR CMS.
                     *
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
                     *  https://disqus.com/admin/universalcode/#configuration-variables
                     */
                    /*
                    var disqus_config = function () {
                        // Replace PAGE_URL with your page's canonical URL variable
                        this.page.url = PAGE_URL;

                        // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        this.page.identifier = PAGE_IDENTIFIER;

                    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                        var d = document, s = d.createElement('script');

                        // IMPORTANT: Replace 3wmthemes with your forum shortname!
                        s.src = 'https://3wmthemes.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                    };*/
                </script>
                <noscript>
                    Please enable JavaScript to view the
                    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                        comments powered by Disqus. </a>
                </noscript>
            </div>
            <!--//blog-comments-section-->
        </div>
        <!--//container-->
    </article>
    <!-- <section class="promo-section theme-bg-light py-5 text-center">
        <div class="container single-col-max-width">
            <h2 class="title">Promo Section Heading</h2>
            <p>You can use this section to promote your side projects etc. Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
            <figure class="promo-figure">
                <a href="https://made4dev.com" target="_blank"><img class="img-fluid"
                        src="assets/images/promo-banner.jpg" alt="image"></a>
            </figure>
        </div>
        
    </section> -->
    <!--//promo-section-->
    <section class="comment-section px-3 py-5 p-md-5" data-pg-id="524">
        <div class="container" data-pg-id="525">

            <form #commentForm="ngForm" id="comment-form" class="comment-form col-lg-8 mx-lg-auto" data-pg-id="526"
                name="commentForm">

                <h3 class="text-center mb-3" data-pg-id="527">Leave a comment:</h3>
                <div class="form-row" data-pg-id="528">
                    <div class="form-group col-md-6" data-pg-id="529">
                        <label class="sr-only" for="cname" data-pg-id="530">Name</label>
                        <input [(ngModel)]="newComment.commenterName" type="text" class="form-control" id="cname"
                            name="CommenterName" placeholder="Name" minlength="2" required aria-required="true"
                            data-pg-id="531">
                    </div>
                    <div class="form-group col-md-6" data-pg-id="532">
                        <label class="sr-only" for="cemail" data-pg-id="533">Email</label>
                        <input [(ngModel)]="newComment.email" type="email" class="form-control" id="cemail" name="Email"
                            placeholder="Email" required aria-required="true" data-pg-id="534">
                    </div>
                    <div class="form-group col-12" data-pg-id="545">
                        <label class="sr-only" for="cmessage" data-pg-id="546">Your message</label>
                        <textarea [(ngModel)]="newComment.Body" class="form-control" id="cmessage" name="Body"
                            placeholder="Enter your message" rows="10" required="" aria-required="true"
                            data-pg-id="547"></textarea>
                    </div>

                    <input type="hidden" [(ngModel)]="newComment.PostId" name="PostId" id="PostId">
                    <div class="form-group col-12" data-pg-id="548">
                        <button type="button" (click)="postNewComment(commentForm.value)"
                            [disabled]="!commentForm.valid" class="btn btn-block btn-primary py-2"
                            data-pg-id="549">Comment
                            now!</button>
                    </div>
                </div>
                <!--//form-row-->
            </form>
        </div>
        <!--//container-->
    </section>

</div>