<div class="main-wrapper">
    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container single-col-max-width">
            <header class="blog-post-header">
                <h2 class="title mb-2">{{ post?.title }}</h2>
                <div class="meta mb-3">
                    <span class="date">Published at: {{ post?.dateCreated | date: 'medium' }}</span>
                    <span class="time">{{ post?.readingTime }} minutes reading</span>
                    <span class="comment"><a href="#">{{ post?.comments.length }} comments</a></span>
                </div>
            </header>
            <div class="blog-post-body">
                <figure class="blog-banner">
                    <!-- <a href="https://made4dev.com"> -->
                    <img *ngIf="post?.photourl; else placeholderPhoto" class="img-fluid" src="{{ post.photourl}}"
                        alt="image">
                    <ng-template #placeholderPhoto>
                        <img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg" alt="image">
                    </ng-template>

                    <!-- </a> -->
                    <!-- <figcaption class="mt-2 text-center image-caption">Image Credit: -->
                        <!-- <a href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium Programming
                            T-shirts)</a> -->
                    <!-- </figcaption> -->
                </figure>
                <div [innerHTML]="post?.text"></div>
            </div>
            </div>
        <!--//container-->
    </article>
    <!-- <section class="promo-section theme-bg-light py-5 text-center">
        <div class="container single-col-max-width">
            <h2 class="title">Promo Section Heading</h2>
            <p>You can use this section to promote your side projects etc. Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
            <figure class="promo-figure">
                <a href="https://made4dev.com" target="_blank"><img class="img-fluid"
                        src="assets/images/promo-banner.jpg" alt="image"></a>
            </figure>
        </div>

    </section> -->
    <!--//promo-section-->
    <section class="comment-section px-3 py-5 p-md-5" data-pg-id="524">
        <div class="container" data-pg-id="525">

            <form #commentForm="ngForm" id="comment-form" class="comment-form col-lg-8 mx-lg-auto" data-pg-id="526"
                name="commentForm">

                <h3 class="text-center mb-3" data-pg-id="527">Leave a comment:</h3>
                <div class="form-row" data-pg-id="528">
                    <div class="form-group col-md-6" data-pg-id="529">
                        <label class="sr-only" for="cname" data-pg-id="530">Name</label>
                        <input [(ngModel)]="newComment.commenterName" type="text" class="form-control" id="cname"
                            name="CommenterName" placeholder="Name" minlength="2" required aria-required="true"
                            data-pg-id="531">
                    </div>
                    <div class="form-group col-md-6" data-pg-id="532">
                        <label class="sr-only" for="cemail" data-pg-id="533">Email</label>
                        <input [(ngModel)]="newComment.email" type="email" class="form-control" id="cemail" name="Email"
                            placeholder="Email" required aria-required="true" data-pg-id="534">
                    </div>
                    <div class="form-group col-12" data-pg-id="545">
                        <label class="sr-only" for="cmessage" data-pg-id="546">Your message</label>
                        <textarea [(ngModel)]="newComment.body" class="form-control" id="cmessage" name="Body"
                            placeholder="Enter your message" rows="10" required="" aria-required="true"
                            data-pg-id="547"></textarea>
                    </div>

                    <input type="hidden" [(ngModel)]="newComment.postId" name="PostId" id="PostId">
                    <div class="form-group col-12" data-pg-id="548">
                        <button type="button" (click)="postNewComment()" [disabled]="!commentForm.valid"
                            class="btn btn-block btn-primary py-2" data-pg-id="549">Comment
                            now!</button>
                    </div>
                </div>
                <!--//form-row-->
            </form>



        </div>
        <!--//container-->

    </section>
    <section class="comment-show-section px-3 py-5 p-md-5" data-pg-id="525">
        <h3 class=" mb-3" data-pg-id="527" *ngIf="post?.comments">The people say:</h3>
        <article class="comment-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg"
            *ngFor="let comment of post?.comments">

            <div class="card-body">
                <h5 class="card-title">{{ comment.commenterName }}</h5>
                <a href="mailto:{{comment.email}}">
                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.email}}</h6>
                </a>
                <p class="card-text">{{ comment.body }}</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
            </div>

        </article>
    </section>

</div>
