<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading">Services &amp; Pricing</h2>
            <div class="intro">
                <p>I have 10+ years of development experience building software for the web and mobile devices. You can
                    take a look at my <a href="portfolio.html" target="_blank">project portfolio</a> and <a
                        href="resume.html" target="_blank">online resume</a> to find out more about my skills and
                    experiences.</p>
                <p class="mb-0">I'm currently taking on freelance software development work. You're welcome to contact
                    me for a custom quote for your project. I also offer development service packages with fixed
                    pricing. </p>
            </div>
        </div>
        <!--//container-->
    </section>
    <section class="pricing-section py-5">
        <div class="container single-col-max-width">
            <h3 class="text-center mb-4">Service Packages</h3>
            <div id="pricing-tabs" class="pricing-tabs d-block d-md-none mb-3">
                <a href="#" class="pricing-tab active mb-2" data-target="pricing-1-data">Basic</a>
                <a href="#" class="pricing-tab mb-2" data-target="pricing-2-data">Standard</a>
                <a href="#" class="pricing-tab" data-target="pricing-3-data">Premium</a>
            </div>
            <!--//pricing-mobile-tabs-->
            <table id="pricing-table" class="pricing-table table-bordered">
                <thead>
                    <tr class="border-0">
                        <th scope="col" class="pricing-0-data theme-bg-light"></th>
                        <th scope="col" class="pricing-package-title pricing-1-data">Basic</th>
                        <th scope="col" class="pricing-package-title pricing-2-data mobile-is-hidden">Standard</th>
                        <th scope="col" class="pricing-package-title pricing-3-data mobile-is-hidden">Premium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pricing-price-row">
                        <th scope="row" class="pricing-0-data">Package Price</th>
                        <td class="pricing-1-data"><span class="price-number">$900</span></td>
                        <td class="pricing-2-data mobile-is-hidden"><span class="price-number">$2500</span></td>
                        <td class="pricing-3-data mobile-is-hidden"><span class="price-number">$5000+</span></td>
                    </tr>
                    <tr class="pricing-desc-row">
                        <th scope="row" class="pricing-0-data">Details</th>
                        <td class="pricing-1-data"><span class="pricing-package-desc">A small app lorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</span></td>
                        <td class="pricing-2-data mobile-is-hidden"><span class="pricing-package-desc">An medium app
                                lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.</span></td>
                        <td class="pricing-3-data mobile-is-hidden"><span class="pricing-package-desc">A complex app
                                lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.</span></td>
                    </tr>
                    <tr class="pricing-feature-row">
                        <th class="pricing-feature-row-name pricing-0-data" scope="row">Feature Lorem<br><small
                                class="feature-desc font-weight-normal text-muted">Optional feature description goes
                                here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small></th>
                        <td class="pricing-1-data"><svg class="svg-inline--fa fa-check fa-w-16 text-primary"
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                        <td class="pricing-2-data mobile-is-hidden"><svg
                                class="svg-inline--fa fa-check fa-w-16 text-primary" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                        <td class="pricing-3-data mobile-is-hidden"><svg
                                class="svg-inline--fa fa-check fa-w-16 text-primary" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                    </tr>
                    <tr class="pricing-feature-row">
                        <th class="pricing-feature-row-name pricing-0-data" scope="row">Feature Ipsum<br><small
                                class="feature-desc font-weight-normal text-muted">Optional feature description goes
                                here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small></th>
                        <td class="pricing-1-data"><svg class="svg-inline--fa fa-check fa-w-16 text-primary"
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                        <td class="pricing-2-data mobile-is-hidden"><svg
                                class="svg-inline--fa fa-check fa-w-16 text-primary" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                        <td class="pricing-3-data mobile-is-hidden"><svg
                                class="svg-inline--fa fa-check fa-w-16 text-primary" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                    </tr>
                    <tr class="pricing-feature-row">
                        <th class="pricing-feature-row-name pricing-0-data" scope="row">Feature Commodo</th>
                        <td class="pricing-1-data"><svg class="svg-inline--fa fa-check fa-w-16 text-primary"
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                        <td class="pricing-2-data mobile-is-hidden"><svg
                                class="svg-inline--fa fa-check fa-w-16 text-primary" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                        <td class="pricing-3-data mobile-is-hidden"><svg
                                class="svg-inline--fa fa-check fa-w-16 text-primary" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                    </tr>
                    <tr class="pricing-feature-row">
                        <th class="pricing-feature-row-name pricing-0-data" scope="row">Feature Consectetuer</th>
                        <td class="pricing-1-data"><span class="text-muted">–</span></td>
                        <td class="pricing-2-data mobile-is-hidden"><svg
                                class="svg-inline--fa fa-check fa-w-16 text-primary" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                        <td class="pricing-3-data mobile-is-hidden"><svg
                                class="svg-inline--fa fa-check fa-w-16 text-primary" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                    </tr>
                    <tr class="pricing-feature-row">
                        <th class="pricing-feature-row-name pricing-0-data" scope="row">Feature Aenean</th>
                        <td class="pricing-1-data"><span class="text-muted">–</span></td>
                        <td class="pricing-2-data mobile-is-hidden"><span class="text-muted">–</span>
                        </td>
                        <td class="pricing-3-data mobile-is-hidden"><svg
                                class="svg-inline--fa fa-check fa-w-16 text-primary" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                    </tr>
                    <tr class="pricing-feature-row">
                        <th class="pricing-feature-row-name pricing-0-data" scope="row">Feature Duis</th>
                        <td class="pricing-1-data"><span class="text-muted">–</span></td>
                        <td class="pricing-2-data mobile-is-hidden"><span class="text-muted">–</span></td>
                        <td class="pricing-3-data mobile-is-hidden"><svg
                                class="svg-inline--fa fa-check fa-w-16 text-primary" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="check" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                </path>
                            </svg><!-- <i class="fas fa-check text-primary"></i> -->
                        </td>
                    </tr>
                    <tr class="pricing-feature-row">
                        <th class="pricing-feature-row-name pricing-0-data" scope="row">Revisions</th>
                        <td class="pricing-1-data"><span class="text-muted">1</span></td>
                        <td class="pricing-2-data mobile-is-hidden"><span class="text-muted">2</span></td>
                        <td class="pricing-3-data mobile-is-hidden">5+</td>
                    </tr>
                    <tr class="pricing-feature-row">
                        <th class="pricing-feature-row-name pricing-0-data" scope="row">Delivery Time</th>
                        <td class="pricing-1-data">7 days</td>
                        <td class="pricing-2-data mobile-is-hidden">14 days</td>
                        <td class="pricing-3-data mobile-is-hidden">2 - 3 month(s)</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="pricing-cta-row">
                        <td class="pricing-0-data"></td>
                        <td class="pricing-1-data"><a class="btn btn-primary" href="#">Book Now</a></td>
                        <td class="pricing-2-data mobile-is-hidden"><a class="btn btn-primary" href="#">Book Now</a>
                        </td>
                        <td class="pricing-3-data mobile-is-hidden"><a class="btn btn-primary" href="#">Get A Quote</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!--//pricing-table-->
        </div>
        <!--//container-->
    </section>
    <!--//pricing-section-->
    <section class="faq-section">
        <div class="container single-col-max-width">
            <h3 class="text-center mb-4">FAQs</h3>
            <div class="text-center mb-5">Most frequently asked questions here</div>
            <div id="faq-accordion" class="faq-accordion mx-auto" *ngFor="let faq of faqs">
                <div class="card border-0 mb-3">
                    <div class="card-header border-0 p-3 theme-bg-light">
                        <h4 class="card-title mb-0">
                            <a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed"
                                href="#faq" aria-expanded="false" data-target="#{{faq.id}}">
                                <svg class="svg-inline--fa fa-chevron-down fa-w-14" aria-hidden="true" focusable="false"
                                    data-prefix="fas" data-icon="chevron-down" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                                    </path>
                                </svg>{{ faq.title}}</a></h4>
                    </div>
                    <div class="card-collapse collapse" id="faq">
                        <div class="card-body pt-0 theme-bg-light">
                            {{ faq.description}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--//faq-accordion-->

        <!--//container-->
    </section>
    <!--//faq-section-->

</div>