<section class="featured-section p-3 p-lg-5" data-pg-id="259">
    <div class="container" data-pg-id="260">
        <h2 class="section-title font-weight-bold mb-5" data-pg-id="261">Featured Projects</h2>
        <div class="row" data-pg-id="262">
            <div class="col-md-6 mb-5" data-pg-id="263">
                <div class="card project-card" data-pg-id="264">
                    <div class="row no-gutters" data-pg-id="265">
                        <div class="col-lg-4 card-img-holder" data-pg-id="266">
                            <img src="assets/images/project/project-1.jpg" class="card-img" alt="image" data-pg-id="267">
                        </div>
                        <div class="col-lg-8" data-pg-id="268">
                            <div class="card-body" data-pg-id="269">
                                <h5 class="card-title" data-pg-id="270"><a href="project.html" class="theme-link" target="_pg_blank" data-pg-id="271">Project Heading</a></h5>
                                <p class="card-text" data-pg-id="272">Project intro lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                                <p class="card-text" data-pg-id="273"><small class="text-muted" data-pg-id="274">Client: Google</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="link-mask" data-pg-id="275">
                        <a class="link-mask-link" href="project.html" target="_pg_blank" data-pg-id="276"></a>
                        <div class="link-mask-text" data-pg-id="277">
                            <a class="btn btn-secondary" href="project.html" target="_pg_blank" data-pg-id="278"> <svg class="svg-inline--fa fa-eye fa-w-18 mr-2" data-pg-id="279" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg><!-- <i class="fas fa-eye mr-2" data-pg-id="279"></i> -->View Case Study </a>
                        </div>
                    </div>
                    <!--//link-mask-->
                </div>
                <!--//card-->
            </div>
            <!--//col-->
            <div class="col-md-6 mb-5" data-pg-id="280">
                <div class="card project-card" data-pg-id="281">
                    <div class="row no-gutters" data-pg-id="282">
                        <div class="col-lg-4 card-img-holder" data-pg-id="283">
                            <img src="assets/images/project/project-2.jpg" class="card-img" alt="image" data-pg-id="284">
                        </div>
                        <div class="col-lg-8" data-pg-id="285">
                            <div class="card-body" data-pg-id="286">
                                <h5 class="card-title" data-pg-id="287"><a href="project.html" class="theme-link" target="_pg_blank" data-pg-id="288">Project Heading</a></h5>
                                <p class="card-text" data-pg-id="289">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <p class="card-text" data-pg-id="290"><small class="text-muted" data-pg-id="291">Client: Dropbox</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="link-mask" data-pg-id="292">
                        <a class="link-mask-link" href="project.html" target="_pg_blank" data-pg-id="293"></a>
                        <div class="link-mask-text" data-pg-id="294">
                            <a class="btn btn-secondary" href="project.html" target="_pg_blank" data-pg-id="295"> <svg class="svg-inline--fa fa-eye fa-w-18 mr-2" data-pg-id="296" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg><!-- <i class="fas fa-eye mr-2" data-pg-id="296"></i> -->View Case Study </a>
                        </div>
                    </div>
                    <!--//link-mask-->
                </div>
                <!--//card-->
            </div>
            <!--//col-->
            <div class="col-md-6 mb-5" data-pg-id="297">
                <div class="card project-card" data-pg-id="298">
                    <div class="row no-gutters" data-pg-id="299">
                        <div class="col-lg-4 card-img-holder" data-pg-id="300">
                            <img src="assets/images/project/project-3.jpg" class="card-img" alt="image" data-pg-id="301">
                        </div>
                        <div class="col-lg-8" data-pg-id="302">
                            <div class="card-body" data-pg-id="303">
                                <h5 class="card-title" data-pg-id="304"><a href="project.html" class="theme-link" target="_pg_blank" data-pg-id="305">Project Heading</a></h5>
                                <p class="card-text" data-pg-id="306">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <p class="card-text" data-pg-id="307"><small class="text-muted" data-pg-id="308">Client: Google</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="link-mask" data-pg-id="309">
                        <a class="link-mask-link" href="project.html" target="_pg_blank" data-pg-id="310"></a>
                        <div class="link-mask-text" data-pg-id="311">
                            <a class="btn btn-secondary" href="project.html" target="_pg_blank" data-pg-id="312"> <svg class="svg-inline--fa fa-eye fa-w-18 mr-2" data-pg-id="313" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg><!-- <i class="fas fa-eye mr-2" data-pg-id="313"></i> -->View Case Study </a>
                        </div>
                    </div>
                    <!--//link-mask-->
                </div>
                <!--//card-->
            </div>
            <!--//col-->
            <div class="col-md-6 mb-5" data-pg-id="314">
                <div class="card project-card" data-pg-id="315">
                    <div class="row no-gutters" data-pg-id="316">
                        <div class="col-lg-4 card-img-holder" data-pg-id="317">
                            <img src="assets/images/project/project-4.jpg" class="card-img" alt="image" data-pg-id="318">
                        </div>
                        <div class="col-lg-8" data-pg-id="319">
                            <div class="card-body" data-pg-id="320">
                                <h5 class="card-title" data-pg-id="321"><a href="project.html" class="theme-link" target="_pg_blank" data-pg-id="322">Project Heading</a></h5>
                                <p class="card-text" data-pg-id="323">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <p class="card-text" data-pg-id="324"><small class="text-muted" data-pg-id="325">Client: Uber</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="link-mask" data-pg-id="326">
                        <a class="link-mask-link" href="project.html" target="_pg_blank" data-pg-id="327"></a>
                        <div class="link-mask-text" data-pg-id="328">
                            <a class="btn btn-secondary" href="project.html" target="_pg_blank" data-pg-id="329"> <svg class="svg-inline--fa fa-eye fa-w-18 mr-2" data-pg-id="330" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg><!-- <i class="fas fa-eye mr-2" data-pg-id="330"></i> -->View Case Study </a>
                        </div>
                    </div>
                    <!--//link-mask-->
                </div>
                <!--//card-->
            </div>
            <!--//col-->
        </div>
        <!--//row-->
        <div class="text-center py-3" data-pg-id="331">
            <a href="portfolio.html" class="btn btn-primary" target="_pg_blank" data-pg-id="332"><svg class="svg-inline--fa fa-arrow-alt-circle-right fa-w-16 mr-2" data-pg-id="333" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-alt-circle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"></path></svg><!-- <i class="fas fa-arrow-alt-circle-right mr-2" data-pg-id="333"></i> -->View Portfolio</a>
        </div>
    </div>
    <!--//container-->
</section>
