<div class="main-wrapper" data-pg-id="494">
    <section class="cta-section theme-bg-light py-5" data-pg-id="495">
        <div class="container text-center single-col-max-width" data-pg-id="496">
            <h2 class="heading" data-pg-id="497">Unsubscribe from Coding in DFW</h2>
            <div class="intro" data-pg-id="498">
                <p data-pg-id="499">Please, enter your email address below to unsubscribe</p>
            </div>
            <!--//container-->
        </div>
    </section>
    <section class="contact-section unsubscribe px-3 py-5 p-md-5" data-pg-id="524">
        <div class="container" data-pg-id="525">
            <form class="signup-form form-inline justify-content-center pt-3">
                <div class="form-group">
                    <label class="sr-only" for="semail">Your email</label>
                    <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail"
                        placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary">Cancel email subscription</button>
            </form><br><br>
        </div>
        <!--//container-->
    </section>
</div>