<div class="row">
    <div class="col-lg-6 offset-3">
        <nb-card>
            <nb-card-header>
                <div class="text-center">
                    <h1 id="title" class="title">Login</h1>
                    <p class="sub-title">Hello! Log in with your email.</p>
                    {{ error?.statusText }}
                </div>

            </nb-card-header>
            <nb-card-body>
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-6 col-lg-8">
                        <form>
                            <div>
                                <input name="email" type="text" nbInput status="primary" placeholder="Email"
                                    [(ngModel)]="userdata.email" required>
                            </div>
                            <div><input name="password" type="password" nbInput status="primary" placeholder="Password"
                                    [(ngModel)]="userdata.password" required></div>
                            <div>
                                <button nbButton status="info" size="medium" (click)="login()"
                                    [nbSpinner]="loginSpinner" nbSpinnerStatus="info" nbSpinnerSize="small">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>