<div class="main-wrapper">
  <section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
      <h2 class="heading">Portfolio</h2>
      <div class="intro">
        <p>Welcome to my online portfolio. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
          ligula eget dolor. I'm taking on freelance work at the moment. Want some help building your software?</p>

      </div>
      <a class="btn btn-primary" href="contact.html" target="_blank"><svg
          class="svg-inline--fa fa-paper-plane fa-w-16 mr-2" aria-hidden="true" focusable="false" data-prefix="fas"
          data-icon="paper-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
          <path fill="currentColor"
            d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z">
          </path>
        </svg><!-- <i class="fas fa-paper-plane mr-2"></i> -->Hire Me</a>


    </div>
    <!--//container-->
  </section>
  <section class="projects-list px-3 py-5 p-md-5">
    <div class="container">
      <div class="text-center">
        <ul id="filters" class="filters mb-5 mx-auto pl-0">
          <li class="type active mb-3 mb-lg-0" data-filter="*">All</li>
          <li class="type  mb-3 mb-lg-0" data-filter=".webapp">We App</li>
          <li class="type  mb-3 mb-lg-0" data-filter=".mobileapp">Mobile App</li>
          <li class="type  mb-3 mb-lg-0" data-filter=".frontend">Frontend</li>
          <li class="type  mb-3 mb-lg-0" data-filter=".backend">Backend</li>
        </ul>
        <!--//filters-->
      </div>
      <app-all></app-all>
    </div>
  </section>
</div>