<div class="row">
    <div class="col-md-12">
        <nb-card [nbSpinner]="postSpinner" nbSpinnerStatus="primary">
            <nb-card-header>
                I have a new idea to share:
            </nb-card-header>
            <nb-card-body>
                <form #newPostForm="ngForm" (submit)="postNow(newPostForm.value)">
                    <div class="row ">
                        <div class="col-md-6">
                            <input required minlength="10" #postTitle="ngModel" fullWidth name="title" id="title"
                                type="text" nbInput status="primary" placeholder="Post title" required
                                [(ngModel)]="postBody.title">


                            <div *ngIf="postTitle.invalid && (postTitle.dirty || postTitle.touched)">
                                <nb-alert *ngIf="postTitle.errors.required" status="warning">Title is required.
                                </nb-alert>
                                <nb-alert *ngIf="postTitle.errors.minlength" status="warning">Title must be at
                                    least 10
                                    characters long.</nb-alert>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input required minlength="10" #postDescription="ngModel" name="description" id="descrip"
                                type="text" nbInput status="primary" placeholder="Description" fullWidth required
                                [(ngModel)]="postBody.description">

                            <div *ngIf="postDescription.invalid && (postDescription.dirty || postDescription.touched)">
                                <nb-alert *ngIf="postDescription.errors.required" status="warning">Title is required.
                                </nb-alert>
                                <nb-alert *ngIf="postDescription.errors.minlength" status="warning">Title must be at
                                    least 10
                                    characters long.</nb-alert>
                            </div>
                            <input type="hidden" name="userid" [(ngModel)]="postBody.userid">

                        </div>
                        <br>


                    </div>
                    <br>
                    <div class="row ">
                        <div class="col-lg-12 col-md-12">
                            <ckeditor [editor]="Editor" #mytext name="text" data="<p>Hello, world!</p>"
                                [(ngModel)]="postBody.text">
                            </ckeditor>
                            <!-- <ckeditor [config]="{ extraPlugins: 'divarea', height: '320' }"></ckeditor> -->
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <nb-select required multiple required name="postTagId" [(ngModel)]="postBody.postTagId"
                            placeholder="Select Tags">
                            <nb-option *ngFor="let tag of tags" value="{{ tag.id }}">
                                {{ tag.title }}
                            </nb-option>
                        </nb-select>

                        <button (click)="openAddTagDialog()" nbButton type="button" size="tiny" status="success">
                            <nb-icon icon="plus"></nb-icon>
                        </button>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button [disabled]="!newPostForm.dirty || !newPostForm.valid" type="submit" nbButton
                                status="success">Post now!</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>