<nb-card status="danger">
    <nb-card-header>Do you really want to delete the post: </nb-card-header>
    <nb-card-body>
        <b>Name: </b>{{ post.title }} <br>
        This action cant be undone!
    </nb-card-body>
    <nb-card-footer>
        <div class="row d-flex justify-content-around">
            <div>
                <button size="tiny" [nbSpinner]="deleteSpinner" nbSpinnerStatus="danger" nbSpinnerSize="small" nbButton
                    status="danger" (click)="deletePost(post.id)">
                    <!-- <button nbButton status="danger" (click)="ref.close()"> -->
                    <nb-icon icon="trash"></nb-icon>Delete!
                </button>
            </div>
            <div>

                <button size="tiny" id="backnormal" nbButton status="success" (click)="close('closed')">
                    <!-- <button nbButton status="danger" (click)="ref.close()"> -->
                    No, take me back!
                </button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>